# Database
DATABASE_URL=mysql://root:131015@localhost:3306/updev_community?schema=public

# Port
PORT=9000

# Files
FILES_BASE_URL=http://localhost:9000/assets
MULTER_DEST=./uploads

# Emails
EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=465
EMAIL_AUTH_USER=sender@luccinmasirika.me
EMAIL_AUTH_PASSWORD=1de7f36af60dac3fa987e5011dc902ed-1b3a03f6-217522c4
EMAIL_DEBUG=false
EMAIL_LOGGER=false
EMAIL_LAYOUT_DIR='/templates/emails/'
EMAIL_PARTIAL_DIR='/templates/emails/'
EMAIL_VIEW_PATH='/templates/emails/'
EMAIL_DEFAULT_LAYOUT='index'
APP_URL=https://updev_community.vercel.app

# Security
JWT_SECRET=e8826fff-29e1-4597-b4de-fb202a611fe5
THROTTLE_TTL=60
THROTTLE_LIMIT=20